<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="http://127.0.0.1:8000/api/v1/account/register/" method="post">
  <div>
    <label for="username">username</label>
    <input name="username" id="username">
  </div>
    <div>
    <label for="password">password</label>
    <input name="password" id="password">
  </div>
    <div>
    <label for="password_confirm">password_confirm</label>
    <input name="password_confirm" id="password_confirm">
  </div>
  <div>
    <label for="email">email</label>
    <input name="email" id="email">
  </div>
  <div>
    <button>Send my greetings</button>
  </div>
</form>
</body>
</html>